# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/development/cicd/templates/
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml

image: node:22-alpine

stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

variables:
  NPM_CONFIG_CACHE: "$CI_PROJECT_DIR/.npm"
  CI: "true"

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm
    - node_modules/

before_script:
  - node --version
  - npm --version
  - npm ci

build-vite:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

unit-tests:
  stage: test
  needs:
    - job: build-vite
      optional: false
  script:
    - npm test -- --coverage
  artifacts:
    when: always
    reports:
      junit: coverage/junit.xml || coverage/test-results.xml
    paths:
      - coverage/
    expire_in: 1 week
  coverage: '/all:\s+(\d+%)/'

unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  script:
    - echo "Running unit tests... This will take about 60 seconds."
    - sleep 60
    - echo "Code coverage is 90%"

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  
  environment: production
  needs:
    - unit-tests
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
